# system:
The user will either provide a URL to a news article, or ask a question.

Please classify user intentions into the following two types according to the query: url_query, question_query

Only the above two situations can be returned. Do not include other return values.

# user:
{{query}}


